<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href={{ page.url | url | absoluteUrl(site.url) }}>

    {% bundledcss %}

    <link rel="apple-touch-icon" sizes="57x57" href="/images/manifest/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/manifest/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/manifest/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/manifest/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/manifest/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/manifest/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/manifest/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/manifest/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/manifest/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/manifest/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/manifest/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/manifest/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/manifest/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <title>
      {{  title  | escape }}
      {% if title %}
         | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <link rel="icon" type= “image/x-icon” href="/images/favicon.ico">

    <meta property="og:title" content="{{  title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="twitter:card" content="summary_large_image">

    {% set desc = description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}

    {% if not socialImage %}
      {% set socialImage = site.defaultSocialImage %}
    {% endif %}
    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
      <meta name="twitter:image" content="{{ socialImage | url | absoluteUrl(site.url) }}"/>
    {% endif %}
  </head>
  <body>
    <div class="layout-wrapper">

      <header class="header">
        <div id="skipnav">
          <a href="#main" class="visually-hidden">Skip navigation</a>
        </div>

        <div class="header__content">
          <h1 class="site-title">
            <a href={{ "/" | url }}>
              {{site.name}}
            </a>
          </h1>

          {% if site.headerLinks %}
            <nav aria-label="Site" class="nav">
              <ul class="nav__list">
                {% for item in site.headerLinks %}
                  {% set currentAttribute = '' %}
                  {% set externalAttribute = '' %}

                  {% if item.external %}
                    {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                  {% endif %}

                  {% if page.url == item.url %}
                    {% set currentAttribute = 'aria-current="page"' %}
                  {% endif %}

                  <li class="nav-item">
                    <a href="{{ item.url | url }}" {{ currentAttribute | safe }} {{ externalAttribute | safe }}>{{ item.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>

          {% endif %}

        </div>
      </header>

      <main id="main" class="main">
        {{ content | safe }}
      </main>

      <footer class="footer">
        <div class="footer__content">

          <ul class="hero__social-links">
            {% if site.socialLinks %}
              {% for item in site.socialLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}

            {% if site.footerLinks %}

              {% for item in site.footerLinks %}
                {% set externalAttribute = '' %}

                {% if item.external %}
                  {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
                {% endif %}

                <li>
                  <a href="{{ item.url | url }}" {{ externalAttribute | safe }} >{{ item.text }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>

          <p class="footer__attribution">Chris Weed 2021</p>

        </div>
      </div>

    </footer>

    {# Add mermaid -- start #}
<!--    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>-->
<!--    <script>mermaid.initialize({startOnLoad:true});</script>-->
    {# Add mermaid -- end #}

    {% bundledjs %}
  </body>
</html>
