---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
  </header>

  <div class="post__content">
    {{ content | safe }}
  </div>

  <aside aria-label="Post metadata" class="post__aside">
    <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>

    <nav aria-label="Post" class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

      <a aria-label="Read older post: {{nextPost.data.title}}" href="{{ nextPost.url | url }}">
        <span aria-hidden="true" role="img" aria-label="arrow left">←</span>{{ nextPost.data.title }}
      </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

      <a aria-label="Read newer post: {{previousPost.data.title}}" href="{{ previousPost.url | url }}">
        {{ previousPost.data.title }}<span aria-hidden="true" role="img" aria-label="arrow right">→️</span>
      </a>

      {% endif %}
    </nav>
  </aside>

</article>
